---
layout: layout.liquid
title: 11ty Boilerplate
---

<h3>Polaroid Cloud</h2>
<h1><strong>FILM TO PHONE</strong></h1>
<img class="big_img" src="images/polaroid.png"></img>

<h2>Any cloud, anytime.</h2>
<p>With Polaroid Cloud, you can sync your photos to your favorite cloud service while still enjoying the instant printing you’ve come to expect from Polaroid. Using our special instant photo paper, your image is uploaded to the web and a QR code is generated and printed with the instant photo. Perfect for sharing with your friends and family.</p>

<h2>Easy, cheesy!</h2>
<div class="container">
  <img class="little_img" src="images/wifi.png">
  <p>Connect your Polaroid to a WiFi network</p>
</div>

<div class="container">
  <img class="little_img" src="images/cloud.png">
  <p>Configure your favorite cloud</p>
</div>

<div class="container">
  <img class="little_img" src="images/qrcode.png">
  <p>Point, shoot, and print your QR-tagged photo</p>
</div>

<div class="container">
  <img class="little_img" src="images/photo.png">
  <p>Share your physical and digital photos with friends and family</p>
</div>


<h2>Be the first to know.</h2>
<div class="box">
  <form action="#">
      <div class="input-container">
        <input type="email" id="email" name="email" placeholder="Enter your email address to receive updates" required>
        <button type="submit" class="subscribe-btn">KEEP IN TOUCH</button>
      </div>
    </form>
</div>