body {
    font-family: Inter, sans-serif;
    color: #424242;
    background: #E9E9E9;
    padding: 0 40px;
    text-align: center;
    
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: #212431;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 8em;
    margin: auto;
    width: 50%;
}

h2{
    font-size: 3em;
}

h3 {
    text-align: left;
}

.big_img{
    width: 80%;
    height: 80%;
}
.little_img{
    width: 5%;
    height: 5%;
    float: left;
    /*margin-right: 10px;  Adjust as needed */
}

p{
    text-align: justify;
    width:70%;
    margin:auto;

}

.container {
    overflow: hidden; /* Clear floats */
    width: 70%;
    margin: auto;
    margin-bottom: 20px; /* Add space between each container */
}

.box{
    background-color: #D6D7D6;
    border-radius: 10px;
    width: 70%;
    height: 100%;
    margin:auto;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    
    height: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
label {
    margin-bottom: 10px;
}

.input-container {
    align-items: center;
}

input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px; /* Rounded corners for the left side of the input */
    width:50%;
    height:90%;
}
  
.subscribe-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #FF3F3C;
    color: #ffffff;
    cursor: pointer;
}
  
